body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  padding: 10px 40px;
  background-color: rgb(225,225,225);
  color: rgb(25,25,25);
}

a.button {
    padding: 1px 6px;
    border: 1px outset buttonborder;
    border-radius: 3px;
    color: rgb(25,25,25);
    background-color: rgb(205,205,205);
    text-decoration: none;
}
